   /* jssor slider arrow navigator skin 05 css */
            /*
            .jssora05l              (normal)
            .jssora05r              (normal)
            .jssora05l:hover        (normal mouseover)
            .jssora05r:hover        (normal mouseover)
            .jssora05ldn            (mousedown)
            .jssora05rdn            (mousedown)
            */
            #image-gallery-with-vertical-thumbnail.source.jssora05l, #image-gallery-with-vertical-thumbnail.source.jssora05r, #image-gallery-with-vertical-thumbnail.source.jssora05ldn, #image-gallery-with-vertical-thumbnail.source.jssora05rdn
            {
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(../img/a17.png) no-repeat;
                overflow:hidden;
            }
            #image-gallery-with-vertical-thumbnail.source.jssora05l { background-position: -10px -40px; }
            #image-gallery-with-vertical-thumbnail.source.jssora05r { background-position: -70px -40px; }
            #image-gallery-with-vertical-thumbnail.source.jssora05l:hover { background-position: -130px -40px; }
            #image-gallery-with-vertical-thumbnail.source.jssora05r:hover { background-position: -190px -40px; }
            #image-gallery-with-vertical-thumbnail.source.jssora05ldn { background-position: -250px -40px; }
            #image-gallery-with-vertical-thumbnail.source.jssora05rdn { background-position: -310px -40px; }
